<CascadingValue Value="@TradingDataService">
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingValue>

@code {
    public TradingDataService TradingDataService { get; set; }

    [Inject]
    public SettingsDataService SettingsDataService { get; set; } = new SettingsDataService { HistoryRange = 1000 };

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        TradingDataService = new TradingDataService();
        //SettingsDataService = new SettingsDataService
        //{
        //    HistoryRange = 1000
        //};
    }
}