<CascadingValue Value="@TradeResultDataService">
    <CascadingValue Value="@SettingsDataService">
        <Router AppAssembly="@typeof(Program).Assembly">
            <Found Context="routeData">
                <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            </Found>
            <NotFound>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p>Sorry, there's nothing at this address.</p>
                </LayoutView>
            </NotFound>
        </Router>
    </CascadingValue>
</CascadingValue>


@code {
    public TradeResultDataService TradeResultDataService { get; set; }
    public SettingsDataService SettingsDataService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        TradeResultDataService = new TradeResultDataService();
        SettingsDataService = await SettingsDataService.CreateAsync();
    }
}