@page "/settings"

@implements IDisposable;

@if (ShowSpinner)
{
    <div class="sb-content-overlay">
        <div class="sb-loading">
            <svg class="circular" height="40" width="40">
                <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="6" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <style>
        #main-page {
            pointer-events: none;
            cursor: auto;
        }
    </style>
}

<style>
    #main-page {
        overflow-x: hidden;
        background: linear-gradient(-141deg, #EEF5F7 14%, #EEF2FB 100%);
    }

    .content.container-fluid {
        height: 100vh;
        overflow-y: auto;
        overflow-x: hidden;
    }

    @@media (min-width: 1100px) {
        .rightpane {
            margin-right: 270px;
        }
    }

    @@media (max-width: 1100px) {
        .rightpane {
            margin-right: 0px;
        }
    }

    @@media (min-width: 768px) {
        .content .content-wrapper {
            padding: 0;
        }
    }

    @@media (max-width: 768px) {
        .content .content-wrapper {
            padding: 0 8px 8px 8px;
            margin-top: 7rem;
        }
    }

    .content.container-fluid {
        height: 100vh;
        overflow-y: auto;
        overflow-x: hidden;
    }
</style>

<div class="expense-page content">
    <div class='exp-content-container'>
        
        <div class="settings-container">
            <div class="col-xs-12 col-sm-6 col-lg-3 col-md-6 margin-top settings-tb-container pane">
                <div>
                    <p class="chart-title chart-subtitle">Test settings</p>
                </div>
                <div class="cb-container">
                    <SfComboBox TValue="string" TItem="GameFields" PopupHeight="230px" Placeholder="Select a strategy" @bind-Value="@DropVal" DataSource="@Games">
                        <ComboBoxEvents TValue="string" TItem="GameFields" ValueChange="OnChange"></ComboBoxEvents>
                        <ComboBoxFieldSettings Text="Text" Value="ID"></ComboBoxFieldSettings>
                    </SfComboBox>
                </div>
                <div class="cb-container">
                    <SfComboBox TValue="string" TItem="GameFields" PopupHeight="230px" Placeholder="Select a symbol" @bind-Value="@DropVal" DataSource="@Games">
                        <ComboBoxEvents TValue="string" TItem="GameFields" ValueChange="OnChange"></ComboBoxEvents>
                        <ComboBoxFieldSettings Text="Text" Value="ID"></ComboBoxFieldSettings>
                    </SfComboBox>
                </div>
                <div class="cb-container">
                    <SfComboBox TValue="string" TItem="GameFields" PopupHeight="230px" Placeholder="Select a interval" @bind-Value="@DropVal" DataSource="@Games">
                        <ComboBoxEvents TValue="string" TItem="GameFields" ValueChange="OnChange"></ComboBoxEvents>
                        <ComboBoxFieldSettings Text="Text" Value="ID"></ComboBoxFieldSettings>
                    </SfComboBox>
                </div>
                <div class="tb-container">
                    <SfTextBox Placeholder="History range" FloatLabelType="@FloatLabelType.Auto"></SfTextBox>
                </div>
                <div class="tb-container">
                    <SfTextBox Placeholder="Start balance" FloatLabelType="@FloatLabelType.Auto"></SfTextBox>
                </div>
                <div>
                    <SfButton CssClass="bt-container" IsPrimary="true">Start</SfButton>
                </div>
            </div>
        </div>
    </div>

</div>
@code {
    [CascadingParameter]
    public TradingDataService TradingDataService { get; set; }


    public string SearchValue { get; set; }
    private bool ShowSpinner = false;
    private string visibility = "none";
    private string color = "#FFFFFF";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        //if (firstRender)
        //{
        //    await base.OnAfterRenderAsync(firstRender);

        //}
    }

    private void OnCreate()
    {
        this.visibility = ""; this.color = "";
    }

    public void Dispose()
    {

    }

    public class GameFields
    {
        public string ID { get; set; }
        public string Text { get; set; }
    }
    private List<GameFields> Games = new List<GameFields>() {
        new GameFields(){ ID= "Game1", Text= "American Football" },
        new GameFields(){ ID= "Game2", Text= "Badminton" },
        new GameFields(){ ID= "Game3", Text= "Basketball" },
        new GameFields(){ ID= "Game4", Text= "Cricket" },
        new GameFields(){ ID= "Game5", Text= "Football" },
        new GameFields(){ ID= "Game6", Text= "Golf" },
        new GameFields(){ ID= "Game7", Text= "Hockey" },
        new GameFields(){ ID= "Game8", Text= "Rugby"},
        new GameFields(){ ID= "Game9", Text= "Snooker" },
        new GameFields(){ ID= "Game10", Text= "Tennis"},
     };
    public string DropVal = "Game3";
    public string ChangeValue { get; set; } = "Basketball";
    public void OnChange(Syncfusion.Blazor.DropDowns.ChangeEventArgs<string, GameFields> args)
    {
        this.ChangeValue = args.ItemData?.Text;
    }
}
